        .carousel-3d-controls[data-v-43e93932] {
            position: absolute;
            top: 50%;
            height: 0;
            margin-top: -30px;
            left: 0;
            width: 100%;
            z-index: 1000
        }

        .next[data-v-43e93932], .prev[data-v-43e93932] {
            width: 60px;
            position: absolute;
            z-index: 1010;
            font-size: 60px;
            height: 60px;
            line-height: 60px;
            color: #333;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            text-decoration: none;
            top: 0
        }

            .next[data-v-43e93932]:hover, .prev[data-v-43e93932]:hover {
                cursor: pointer;
                opacity: .7
            }

        .prev[data-v-43e93932] {
            left: 10px;
            text-align: left
        }

        .next[data-v-43e93932] {
            right: 10px;
            text-align: right
        }

        .disabled[data-v-43e93932], .disabled[data-v-43e93932]:hover {
            opacity: .2;
            cursor: default
        }