        .carousel-3d-container[data-v-c06c963c] {
            min-height: 1px;
            width: 100%;
            position: relative;
            z-index: 0;
            overflow: hidden;
            margin: 20px auto;
            box-sizing: border-box
        }

        .carousel-3d-slider[data-v-c06c963c] {
            position: relative;
            margin: 0 auto;
            transform-style: preserve-3d;
            -webkit-perspective: 1000px;
            -moz-perspective: 1000px;
            perspective: 1000px
        }